@charset "UTF-8";



body {
    background-color: rgb(196, 241, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: white;
    background-color: blueviolet;
}
h2{
    color: chocolate;
}
p{
    color: burlywood;
    text-align: justify;
}